<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appName": "languages-api"}</customFields>
            <includeContext>true</includeContext>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="json" />
    </root>
    <logger name="jsonLogger" level="TRACE">
        <appender-ref ref="json"/>
    </logger>
</configuration>